@use "variables" as variables;
@use "fonts" as fonts;
@use "animations" as animations;

.artifact {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;

    text-align: left;
    min-width: 100%;
    width: 100%;
    transition: all 0.1s ease-in-out;
    cursor: default;

    &:hover {
        padding: 5px 10px 5px 5px;

        width: fit-content;
        background-color: #e7e7e7;
        border-radius: variables.$border-radius;
    }

    &:hover {
        overflow: unset;
        white-space: unset;
        text-overflow: unset;
    }

    &-name {
        border-radius: variables.$border-radius;

        @include fonts.code;

        font-weight: 800;
        padding: 5px;
        margin: 5px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-statuses {
        display: flex;
    }

    &-exists {
        @extend .tag;
        display: flex;
        align-items: center;

    }

    &-image  {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #00000042;
        margin: 0px 5px 0 -5px;
        padding: 2px;

        &.button {
            @include animations.popping;
        }
    }
}