@use "animations" as animations;
@use "colors" as colors;
@use "variables" as variables;

@mixin no-select {
    user-select: none;
}

@mixin button {
    cursor: pointer;
    @include no-select;
}

.button {
    @include button;
}

button {
    @include button;
    @include animations.popping;

    color: #fff;
    background-color: colors.$button;
    box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: variables.$border-radius;
    padding: 7px 12px;
    margin: 2px;

    &:not(:disabled):not(.disabled):hover {
        box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
        transform: translate(2px, -2px) scale(1.05);
        filter: brightness(1.05) contrast(1.05);
        cursor: pointer;
    }
}