@mixin image {
    display: inline-block;
    border-radius: 50%;
    background-color: #00000042;
    margin: 2px;
    padding: 2px;
    width: 20px;
    height: 20px;
}

@mixin small {
    @include image;
}