@import "variables", "animations", "fonts";
@import "tag";
@import "button";
@import "job";
@import "artifact";

// Styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

.cluster-title {
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 0
}

.cluster-header {
    display: flex;
    justify-content: center;
}


.cluster {
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}




:disabled,.disabled {
    filter: brightness(1.2) saturate(0.5) grayscale(0.4);
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
        cursor: not-allowed;
    }
}




.job-refresh {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -15px;
    top: -15px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(213, 213, 213);
    border: 2px solid #ccc;
    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 rgb(22, 44, 183);

        &:not(:disabled):not(.disabled) {

            animation: rotate 10s infinite linear;
        }
    }

    &:disabled,&.disabled {
        cursor: not-allowed;
        filter: grayscale(1);
        box-shadow: 0 0 10px 0 rgba(179, 179, 179, 0.61);

        &:hover {
            cursor: not-allowed;
        }
    }
}


.status-icon {
    width: 40px;
    height: 40px;

    &.running, &.retrieving {
        animation: rotate 10s infinite linear;
    }

}

.status-container {
    margin: 0 auto 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .status-text {
        text-transform: capitalize;
        text-align: center;

        &.not_started {
            color: #0064bc;
        }

        &.running {
            color: #ffc107;
            font-style: italic;
        }

        &.retrieving {
            color: #d8b13c;
            font-style: italic;
        }

        &.done {
            color: #28a745;
        }

        &.interrupted {
            color: #ff8000;
        }

        &.error {
            color: #dc3545;
        }
    }
}

.flex {
    display: flex;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}