# Job
Job: "pre-fit-small"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  # NtuplePaths: XXX_NtuplePaths
  NtuplePaths: /eos/user/v/vyazykov/mtcp/friend_ntuples/output/small/nominal
  # FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  # SummaryPlotRegions: "SR_probs_ttH"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf,png
  # DoSummaryPlot: TRUE
  DoSignalRegionsPlot: TRUE
  # DoPieChartPlot: FALSE
  # SummaryPlotYmin: 2e-2
  # SummaryPlotYmax: 1e10
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 2
  BlindingThreshold: 0.15
  SeparationPlot: FakeMu, FakeEl, TauFakes
  PlotOptions: "YIELDS"
  # GetChi2: TRUE
  # MaxNtupleEvents: 100

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
INCLUDE: ../norm-factors/mu.config

# Norm factors for fakes
# INCLUDE: ../norm-factors/fakes.config

# Regions

# NN output - probability of ttH
# INCLUDE: ../regions/probs-ttH.config

# lep_Pt_0 (without cut)
INCLUDE: ../regions/lep-pt-0-no-cut.config

# lep_Pt_1
# INCLUDE: ../regions/lep-pt-1.config

# N_jets
# INCLUDE: ../regions/n-jets.config

# N_bjets
# INCLUDE: ../regions/n-bjets.config

# tau width
# INCLUDE: ../regions/tau-width.config

# Samples:
# Ghost samples - not needed for now
INCLUDE: ../samples/ghost.config

# Data samples
INCLUDE: ../samples/data.config

# Signal samples
INCLUDE: ../samples/signal.config

# Background samples
INCLUDE: ../samples/background.config

# Fakes samples
INCLUDE: ../samples/fakes.config

# Systematics - not needed for now
INCLUDE: ../systematics/main-no-friend.config
