# Job
Job: "pre-fit"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  NtuplePaths: XXX_NtuplePaths
  FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  # SummaryPlotRegions: "SR_probs_ttH"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf,png
  # DoSummaryPlot: TRUE
  DoSignalRegionsPlot: TRUE
  # DoPieChartPlot: FALSE
  # SummaryPlotYmin: 2e-2
  # SummaryPlotYmax: 1e10
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 2
  BlindingThreshold: 0.25
  SeparationPlot: FakeMu, FakeEl, TauFakes
  PlotOptions: "YIELDS"
  # GetChi2: TRUE
  # MaxNtupleEvents: 100

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
# INCLUDE: ../norm-factors/mu.config
INCLUDE: ../norm-factors/mu-no-fakes.config

# Norm factors for fakes
# INCLUDE: ../norm-factors/fakes.config

# Regions
# INCLUDE: ../regions/probs-ttH.config
# lep_Pt_0
INCLUDE: ../regions/lep-pt-0.config

# lep_Pt_1
# INCLUDE: ../regions/lep-pt-1.config

# # N_jets
# INCLUDE: ../regions/n-jets.config

# # N_bjets
# INCLUDE: ../regions/n-bjets.config

# # tau width
# INCLUDE: ../regions/tau-width.config

# Samples:
# Data samples
INCLUDE: ../samples/data.config

# Signal samples
INCLUDE: ../samples/signal.config

# Background samples
INCLUDE: ../samples/background.config

# Ghost samples - not needed for now
# INCLUDE: ../samples/ghost.config

# Fakes samples
# INCLUDE: ../samples/fakes.config

# Systematics - not needed for now
# INCLUDE: ../systematics/main.config
