# Job
Job: "ttH_previous"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  NtuplePaths: XXX_NtuplePaths
  FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: 140068.94
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  # SummaryPlotRegions: "SR_probs_ttH"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  # SplitHistoFiles: TRUE
  # ImageFormat: "png"
  # DoSummaryPlot: TRUE
  DoSignalRegionsPlot: TRUE
  # DoPieChartPlot: FALSE
  # SummaryPlotYmin: 2e-2
  # SummaryPlotYmax: 1e10
  # RatioYmin: 0.
  # RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  # DebugLevel: 1
  # BlindingThreshold: 0.15
  # SeparationPlot: FakeMu, FakeEl, TauFakes
  # PlotOptions: "YIELDS","CHI2"
  # GetChi2: TRUE
  MaxNtupleEvents: 1000

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
INCLUDE: ../norm_factors/mu.config

# Regions
INCLUDE: ../regions/probs_ttH.config
INCLUDE: ../regions/sr_variables.config

# Samples:
# Data samples
INCLUDE: ../samples/data.config

# Signal samples
INCLUDE: ../samples/signal.config

# Background samples
INCLUDE: ../samples/background.config

# Ghost samples - not needed for now
# INCLUDE: ../samples/ghost.config

# Fakes samples
INCLUDE: ../samples/fakes.config

# Systematics - not needed for now
# INCLUDE: ../systematics/main.config
