# Job
Job: "probs"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  NtuplePaths: XXX_NtuplePaths
  FriendPath: XXX_FriendPaths
  AtlasLabel: none
  Label: NONE
  LumiLabel: "140 fb^{-1}"
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  # SummaryPlotRegions: "SR_probs_ttH"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf,png
  # DoSummaryPlot: TRUE
  DoSignalRegionsPlot: TRUE
  # DoPieChartPlot: FALSE
  # SummaryPlotYmin: 2e-2
  # SummaryPlotYmax: 1e10
  RatioYmin: 0.
  RatioYmax: 2.0
  # ReplacementFile: replacements/replacement.txt
  ReplacementFile: replacements/replacement-nn-output-friend.txt
  DebugLevel: 2
  BlindingThreshold: 0.15
  SeparationPlot: FakeMu, FakeEl, TauFakes
  # PlotOptions: "YIELDS"
  # GetChi2: TRUE
  # MaxNtupleEvents: 100

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
INCLUDE: ../norm-factors/mu.config

# Norm factors for fakes
# INCLUDE: ../norm-factors/fakes.config

# Regions
INCLUDE: ../regions/probs-ttH-no-cut.config

# Samples:

# GHOST samples
# INCLUDE: ../samples-friend/ghost.config

# Data samples
# INCLUDE: ../samples-friend/data.config

# Signal samples
INCLUDE: ../samples-friend/signal.config

# Background samples
INCLUDE: ../samples-friend/background.config

# Background samples
INCLUDE: ../samples-friend/fakes.config
