# Job
Job: "probs-nn-output"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  NtuplePaths: ../ml/output/nn_output
  FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: 1
  # MCweight: "XXX_MC_WEIGHT"
  MCweight: weight * 5 # weight is already calculated when forming the numpy dataset. 5 is to account for vlidation set being 20% of the whole data
  NtupleName: "nominal"
  # SummaryPlotRegions: "SR_probs_ttH"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: pdf,png
  # DoSummaryPlot: TRUE
  DoSignalRegionsPlot: TRUE
  # DoPieChartPlot: FALSE
  # SummaryPlotYmin: 2e-2
  # SummaryPlotYmax: 1e10
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 1
  BlindingThreshold: 0.25
  SeparationPlot: FakeMu, FakeEl, TauFakes
  PlotOptions: "YIELDS"
  # GetChi2: TRUE
  # MaxNtupleEvents: 100
  # StatOnly: TRUE

Significance:
  POIAsimov: TRUE

# Fit
INCLUDE: ../fits/mu.config

# Norm factor mu_ttH
INCLUDE: ../norm-factors/mu-no-fakes.config

# Norm factors for fakes
# INCLUDE: ../norm-factors/fakes.config

# Regions
# INCLUDE: ../regions/probs-ttH.config
Region: "probs_ttH"
  Type: SIGNAL
  Variable: p_ttH,10,0,1
  VariableTitle: "Assigned probability of event being ttH"
  Label: "p(y = t\bar{t}H | x)"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA


# Samples:
# INCLUDE: ../samples-friend/all.config

# Systematics - not needed for now
# INCLUDE: ../systematics/main.config

### SAMPLES - INLINE ###

###########################
####  Signal process   ####
###########################
Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  TexTitle: $t\bar{t}H$
  Group: "t#bar{t}H"
  FillColor: 2
  LineColor: 1
  NtupleFiles: ttH

###########################
#### Major backgrounds ####
###########################

Sample: "ttW"
  Type: BACKGROUND
  Title: "t#bar{t}W"
  TexTitle: $t\bar{t}W$
  Group: "t#bar{t}W"
  FillColor: 5
  LineColor: 1
  NtupleFiles: ttW

Sample: "ttW_EW"
  Type: BACKGROUND
  Title: "t#bar{t}W EW"
  TexTitle: $t\bar{t}W EW$
  Group: "t#bar{t}W"
  FillColor: 5
  LineColor: 1
  NtupleFiles: ttW_EW

Sample: "ttZ"
  Type: BACKGROUND
  Title: "t#bar{t}(Z/#gamma*)"
  TexTitle: $t\bar{t}Z/\gamma$
  Group: "t#bar{t}(Z/#gamma*)"
  FillColor: 7
  LineColor: 1
  NtupleFiles: ttZ

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  TexTitle: $t\bar{t}$
  Group: "t#bar{t}"
  FillColor: 4
  LineColor: 1
  NtupleFiles: ttbar

Sample: "VV"
  Type: BACKGROUND
  Title: "Diboson"
  TexTitle: $VV$
  Group: "Diboson"
  FillColor: 3
  LineColor: 1
  NtupleFiles: VV

###########################
#### Other backgrounds ####
###########################

Sample: "tZ"
  Type: BACKGROUND
  Title: "tZ"
  TexTitle: $tZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: tZ

Sample: "WtZ"
  Type: BACKGROUND
  Title: "WtZ"
  TexTitle: $WtZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: WtZ

Sample: "tW"
  Type: BACKGROUND
  Title: "tW"
  TexTitle: $tW$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: tW

###########################
#### Minor backgrounds ####
###########################

Sample: "threeTop"
  Type: BACKGROUND
  Title: "Three top"
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: threeTop

Sample: "fourTop"
  Type: BACKGROUND
  Title: "Four top"
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: fourTop

Sample: "ggVV"
  Type: BACKGROUND
  Title: "ggVV"
  TexTitle: ggVV
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: ggVV

Sample: "VVV"
  Type: BACKGROUND
  Title: "VVV"
  TexTitle: $VVV$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: VVV

Sample: "VH"
  Type: BACKGROUND
  Title: "VH"
  TexTitle: $VH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: VH

Sample: "WttW"
  Type: BACKGROUND
  Title: "t#bar{t}WW"
  TexTitle: $t\bar{t}WW$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: WttW

Sample: "tHjb"
  Type: BACKGROUND
  Title: "tHjb"
  TexTitle: $tHjb$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: tHjb

Sample: "tWH"
  Type: BACKGROUND
  Title: "tWH"
  TexTitle: $tWH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: tWH

# Missing...
# Sample: "Zjets"
#   Type: BACKGROUND
#   Title: "Z+jets"
#   TexTitle: Z+jets
#   Group: "Other"
#   FillColor: 29
#   LineColor: 1
#   NtupleFiles: Zjets
