# Job
Job: "-- this is not a real job --"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  OutputDir: ./outputs
  # NtuplePaths: XXX_NtuplePaths
  NtuplePaths: ~/nominal
  FriendPath: XXX_FriendPaths
  Label: "ttH"
  LumiLabel: "140 fb^{-1}"
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  MCstatThreshold: 0.01
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  DoSignalRegionsPlot: TRUE
  RatioYmin: 0.
  RatioYmax: 2.0
  ReplacementFile: replacements/replacement.txt
  DebugLevel: 2
  BlindingThreshold: 0.15
  SeparationPlot: FakeMu, FakeEl, TauFakes
  PlotOptions: "YIELDS"

# Signal region
INCLUDE: ../regions/lep-pt-0.config

# Signal samples
INCLUDE: ../samples/signal.config

# Background samples
INCLUDE: ../samples/background.config
