# Job
Job: "-- this is not a real job --"
  NtuplePaths: XXX_NtuplePaths
  # NtuplePaths: ~/nominal
  FriendPath: XXX_FriendPaths
  Lumi: XXX_LUMI
  MCweight: "XXX_MC_WEIGHT"
  NtupleName: "nominal"
  ReplacementFile: replacements/replacement.txt

# Signal region
INCLUDE: ../regions/lep-pt-0.config

# Signal samples
INCLUDE: ../samples/signal.config

# Background samples
INCLUDE: ../samples/background.config
