###########################
#### Major backgrounds ####
###########################

Sample: "ttW"
  Type: BACKGROUND
  Title: "t#bar{t}W"
  TexTitle: $t\bar{t}W$
  Group: "t#bar{t}W"
  FillColor: 5
  LineColor: 1
  NtupleFiles: XXX_ttW2210_samples
  Selection: XXX_TAU_PROMPT

Sample: "ttW_EW"
  Type: BACKGROUND
  Title: "t#bar{t}W EW"
  TexTitle: $t\bar{t}W EW$
  Group: "t#bar{t}W"
  FillColor: 5
  LineColor: 1
  NtupleFiles: XXX_ttW2210_EW_samples
  Selection: XXX_TAU_PROMPT

Sample: "ttZ"
  Type: BACKGROUND
  Title: "t#bar{t}(Z/#gamma*)"
  TexTitle: $t\bar{t}Z/\gamma$
  Group: "t#bar{t}(Z/#gamma*)"
  FillColor: 7
  LineColor: 1
  NtupleFiles: XXX_ttZ_MadNew_samples
  Selection: XXX_TAU_PROMPT

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  TexTitle: $t\bar{t}$
  Group: "t#bar{t}"
  FillColor: 4
  LineColor: 1
  NtupleFiles: XXX_ttbar_nonallhad_samples
  Selection: XXX_LEP_PROMPT && XXX_TAU_PROMPT

Sample: "VV"
  Type: BACKGROUND
  Title: "Diboson"
  TexTitle: $VV$
  Group: "Diboson"
  FillColor: 3
  LineColor: 1
  NtupleFiles: XXX_VV_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

###########################
#### Other backgrounds ####
###########################

Sample: "tZ"
  Type: BACKGROUND
  Title: "tZ"
  TexTitle: $tZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_tZ_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "WtZ"
  Type: BACKGROUND
  Title: "WtZ"
  TexTitle: $WtZ$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_WtZ_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "tW"
  Type: BACKGROUND
  Title: "tW"
  TexTitle: $tW$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_tW_samples
  Selection: XXX_LEP_PROMPT && XXX_TAU_PROMPT

###########################
#### Minor backgrounds ####
###########################

Sample: "threeTop"
  Type: BACKGROUND
  Title: "Three top"
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_threeTop_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "fourTop"
  Type: BACKGROUND
  Title: "Four top"
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_fourTop_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "ggVV"
  Type: BACKGROUND
  Title: "ggVV"
  TexTitle: ggVV
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ggVV_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "VVV"
  Type: BACKGROUND
  Title: "VVV"
  TexTitle: $VVV$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_VVV_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "VH"
  Type: BACKGROUND
  Title: "VH"
  TexTitle: $VH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_VH_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "WttW"
  Type: BACKGROUND
  Title: "t#bar{t}WW"
  TexTitle: $t\bar{t}WW$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_ttWW_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "tHjb"
  Type: BACKGROUND
  Title: "tHjb"
  TexTitle: $tHjb$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_tHjb_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "tWH"
  Type: BACKGROUND
  Title: "tWH"
  TexTitle: $tWH$
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_tWH_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT

Sample: "Zjets"
  Type: BACKGROUND
  Title: "Z+jets"
  TexTitle: Z+jets
  Group: "Other"
  FillColor: 29
  LineColor: 1
  NtupleFiles: XXX_Zjets_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT
