NormFactor: "Norm_MuFake"
  Title: "Norm_MuFake"
  Nominal: 1.0
  Min: 0.
  Max: 2.
  Samples: "FakeMu","TauMuFakes","FakeMu_ttW","TauMuFakes_ttW"
  # Constant: FALSE
  Constant: TRUE

NormFactor: "Norm_ElFake"
  Title: "Norm_ElFake"
  Nominal: 1.0
  Min: 0.
  Max: 2.
  Samples: "FakeEl","TauElFakes","FakeEl_ttW","TauElFakes_ttW"
  # Constant: FALSE
  Constant: TRUE

NormFactor: "Norm_TauFake"
  Title: "Norm_TauFake"
  Nominal: 1.0
  Min: 0.
  Max: 2.
  Samples: "TauFakes","TauFakes_ttH","TauElFakes","TauMuFakes","TauFakes_ttW","TauElFakes_ttW","TauMuFakes_ttW"
  # Constant: FALSE
  Constant: TRUE