NormFactor: "Norm_MuFake"
  Title: "Norm_MuFake"
  Nominal: 1.
  Min: 0.
  Max: 2.
  Samples: "FakeMu","TauMuFakes","DoubleFakeLep_emu","TauDoubleFakes_emu"
  Constant: FALSE

NormFactor: "Norm_MuDoubleFake"
  Title: "Norm_MuDoubleFake"
  Nominal: 1.
  Min: 0.
  Max: 2.
  Samples: "DoubleFakeLep_mumu","TauDoubleFakes_mumu"
  Constant: FALSE
  Expression: Norm_MuFake^2.:Norm_MuFake[1,0,2]

NormFactor: "Norm_ElFake"
  Title: "Norm_ElFake"
  Nominal: 1.
  Min: 0.
  Max: 2.
  Samples: "FakeEl","TauElFakes","DoubleFakeLep_emu","TauDoubleFakes_emu"
  Constant: FALSE

NormFactor: "Norm_ElDoubleFake"
  Title: "Norm_ElDoubleFake"
  Nominal: 1.
  Min: 0.
  Max: 2.
  Samples: "DoubleFakeLep_ee","TauDoubleFakes_ee"
  Constant: FALSE
  Expression: Norm_ElFake^2.:Norm_ElFake[1,0,2]

NormFactor: "Norm_TauFake"
  Title: "Norm_TauFake"
  Nominal: 1.
  Min: 0.
  Max: 2.
  Samples: "TauFakes","TauFakes_ttH","TauFakes_ttW","TauFakes_ttZ","TauElFakes","TauMuFakes","TauDoubleFakes_emu","TauQmisIDFakes","TauDoubleFakes_ee","TauDoubleFakes_mumu"
  Constant: FALSE