# #### ELECTRONS AND EGAMMA ####

Systematic: "ATLAS_EL_ID"
  Title: "ATLAS_EL_ID"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_ID_TightLH_UP_AT"
  WeightSufDown: "weight_leptonSF_El_ID_TightLH_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EL_Isol"
  Title: "ATLAS_EL_Isol"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_Iso_FCLoose_UP_AT"
  WeightSufDown: "weight_leptonSF_El_Iso_FCLoose_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EL_Reco"
  Title: "ATLAS_EL_Reco"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_Reco_UP_AT"
  WeightSufDown: "weight_leptonSF_El_Reco_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EG_RES"
  Title: "ATLAS_EG_RES"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "EG_RESOLUTION_ALL__1up"
  NtupleNameDown: "EG_RESOLUTION_ALL__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EG_SCALE"
  Title: "ATLAS_EG_SCALE"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "EG_SCALE_ALL__1up"
  NtupleNameDown: "EG_SCALE_ALL__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: EGamma


#### MET #####

Systematic: "ATLAS_MET_Perp"
  Title: "ATLAS_MET_Perp"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_ResoPerp"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: ONESIDED
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET

Systematic: "ATLAS_MET_Para"
  Title: "ATLAS_MET_Para"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_ResoPara"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: ONESIDED
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET

Systematic: "ATLAS_MET_Scale"
  Title: "ATLAS_MET_Scale"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_Scale__1up"
  NtupleNameDown: "MET_SoftTrk_Scale__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  # Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET