# ######## PLIV on Fakes ############

Systematic: "FakesMuSubLead_PLIV_RelCaloCluster"
  Title: "FakesMu PLIV RelCaloCluster [SL]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_ECLUSTER_MUON_SUBLEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeMu*","DoubleFakeLep*","TauMuFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesMuLead_PLIV_RelCaloCluster"
  Title: "FakesMu PLIV RelCaloCluster [L]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_ECLUSTER_MUON_LEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeMu*","DoubleFakeLep*","TauMuFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesElSubLead_PLIV_PtFrac"
  Title: "FakesEl PLIV PtFrac [SL]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_PTFRAC_ELEC_SUBLEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeEl*","DoubleFakeLep*","TauElFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesElLead_PLIV_PtFrac"
  Title: "FakesEl PLIV PtFrac [L]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_PTFRAC_ELEC_LEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeEl*","DoubleFakeLep*","TauElFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

# ##### LUMINOSITY ######

Systematic: "ATLAS_lumi"
  Title: "ATLAS_lumi"
  Type: OVERALL
  OverallUp: 0.0083
  OverallDown: -0.0083
  Category: Instrumental
  SubCategory: Luminosity
  Samples: "all"

########## PILE-UP #########

Systematic: "ATLAS_PRW_DATASF"
  Title: "ATLAS_PRW_DATASF"
  Type: HISTO
  WeightSufUp: "weight_pileup_UP/weight_pileup"
  WeightSufDown: "weight_pileup_DOWN/weight_pileup"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Pile-up

############ JVT ############

Systematic: "ATLAS_JVT"
  Title: "ATLAS_JVT"
  Type: HISTO
  WeightSufUp: weight_jvt__1up
  WeightSufDown: weight_jvt__1down
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: JVT