
###################################################################################################
### --- SYSTEMATICS --- ###########################################################################
###################################################################################################

#reference from here: https://gitlab.cern.ch/atlasHTop/ttHMultiGFW2/-/blob/master_ttH/CombinedFit_ttHML/v0801/combined_wSystematics.config
#and https://gitlab.cern.ch/atlasHTop/ttHMultiGFW2/-/blob/master_ttH/CombinedFit_ttHML/v0801/replacement_sys.txt

###########################
#### Detector and reco ####
###########################

##### JET FLAVOUR TAGGING ###


########### MUONS ###########

Systematic: "ATLAS_MU_ID_STAT"
  Title: "ATLAS_MU_ID_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_SYST"
  Title: "ATLAS_MU_ID_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_STAT_LOWPT"
  Title: "ATLAS_MU_ID_STAT_LOWPT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_STAT_LOWPT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_STAT_LOWPT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_SYST_LOWPT"
  Title: "ATLAS_MU_ID_SYST_LOWPT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_SYST_LOWPT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_SYST_LOWPT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_Isol_STAT"
  Title: "ATLAS_MU_Isol_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_Iso_FCLoose_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_Iso_FCLoose_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_Isol_SYST"
  Title: "ATLAS_MU_Isol_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_Iso_FCLoose_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_Iso_FCLoose_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_TTVA_STAT"
  Title: "ATLAS_MU_TTVA_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_TTVA_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_TTVA_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_TTVA_SYST"
  Title: "ATLAS_MU_TTVA_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_TTVA_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_TTVA_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID"
  Title: "ATLAS_MU_ID"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_ID__1up"
  NtupleNameDown: "MUON_ID__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_SCALE"
  Title: "ATLAS_MU_SCALE"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SCALE__1up"
  NtupleNameDown: "MUON_SCALE__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_RESBIAS"
  Title: "ATLAS_MU_RESBIAS"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SAGITTA_RESBIAS__1up"
  NtupleNameDown: "MUON_SAGITTA_RESBIAS__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_RHO"
  Title: "ATLAS_MU_RHO"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SAGITTA_RHO__1up"
  NtupleNameDown: "MUON_SAGITTA_RHO__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon


#### ELECTRONS AND EGAMMA ####

Systematic: "ATLAS_EL_ID"
  Title: "ATLAS_EL_ID"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_ID_TightLH_UP_AT"
  WeightSufDown: "weight_leptonSF_El_ID_TightLH_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EL_Isol"
  Title: "ATLAS_EL_Isol"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_Iso_FCLoose_UP_AT"
  WeightSufDown: "weight_leptonSF_El_Iso_FCLoose_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EL_Reco"
  Title: "ATLAS_EL_Reco"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_El_Reco_UP_AT"
  WeightSufDown: "weight_leptonSF_El_Reco_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EG_RES"
  Title: "ATLAS_EG_RES"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "EG_RESOLUTION_ALL__1up"
  NtupleNameDown: "EG_RESOLUTION_ALL__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: EGamma

Systematic: "ATLAS_EG_SCALE"
  Title: "ATLAS_EG_SCALE"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "EG_SCALE_ALL__1up"
  NtupleNameDown: "EG_SCALE_ALL__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: EGamma


#### MET #####

Systematic: "ATLAS_MET_Perp"
  Title: "ATLAS_MET_Perp"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_ResoPerp"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: ONESIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET

Systematic: "ATLAS_MET_Para"
  Title: "ATLAS_MET_Para"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_ResoPara"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: ONESIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET

Systematic: "ATLAS_MET_Scale"
  Title: "ATLAS_MET_Scale"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_MUTAU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_MUTAU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_MUTAU
  NtupleNameUp: "MET_SoftTrk_Scale__1up"
  NtupleNameDown: "MET_SoftTrk_Scale__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: MET

#### TRIGGER #####

Systematic: "ATLAS_TRIG_EL"
  Title: "ATLAS_TRIG_EL"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

Systematic: "ATLAS_TRIG_MU_STAT"
  Title: "ATLAS_TRIG_MU_STAT"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_MUON_EFF_TrigStatUncertainty__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_MUON_EFF_TrigStatUncertainty__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

Systematic: "ATLAS_TRIG_MU_SYST"
  Title: "ATLAS_TRIG_MU_SYST"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_MUON_EFF_TrigSystUncertainty__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_MUON_EFF_TrigSystUncertainty__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

######## PLIV ############

# NOTE: tHjb sample is excluded from these syst since the mc16e sample has not these variations...
# Removed the tHjb from the fakes (for the moment...)
Systematic: "PLIV_El_Stat_Tight"
  Title: "PLIV Electron Statistical [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Stat"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_JetModeling_Tight"
  Title: "PLIV Electron Jet Modeling [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_JetModeling"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_TemplateCut_Tight"
  Title: "PLIV Electron Template Cut [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_TemplateCut"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_MllWindow_Tight"
  Title: "PLIV Electron M_{ll} Window [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_MllWindow"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_ID_Tight"
  Title: "PLIV Electron ID [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_ID"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_Iso_Tight"
  Title: "PLIV Electron Isolation [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Iso"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_Pileup_Tight"
  Title: "PLIV Electron Pileup [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Pileup"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

######## PLIV on Fakes ############

Systematic: "FakesMuSubLead_PLIV_RelCaloCluster"
  Title: "FakesMu PLIV RelCaloCluster [SL]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_ECLUSTER_MUON_SUBLEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeMu*","DoubleFakeLep*","TauMuFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesMuLead_PLIV_RelCaloCluster"
  Title: "FakesMu PLIV RelCaloCluster [L]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_ECLUSTER_MUON_LEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeMu*","DoubleFakeLep*","TauMuFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesElSubLead_PLIV_PtFrac"
  Title: "FakesEl PLIV PtFrac [SL]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_PTFRAC_ELEC_SUBLEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeEl*","DoubleFakeLep*","TauElFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling

Systematic: "FakesElLead_PLIV_PtFrac"
  Title: "FakesEl PLIV PtFrac [L]"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_PLIV_PTFRAC_ELEC_LEAD
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "FakeEl*","DoubleFakeLep*","TauElFakes*","TauDoubleFakes*"
  Category: Fakes
  SubCategory: Modelling
# Only used for CRs?

#
# O ly used for CRs?
#
# Systematic: "ATLAS_MU_ISO_VARRAD_SYST";"ATLAS_MU_ISO_VARRAD_STAT";"ATLAS_EL_ISO_VARRAD"
#   Title: "ATLAS_MU_ISO_VARRAD_SYST";"ATLAS_MU_ISO_VARRAD_STAT";"ATLAS_EL_ISO_VARRAD"
#   Type: HISTO
#   WeightSufUp: "weight_leptonSF_Mu_Iso_Loose_VarRad_SYST_UP_AT";"weight_leptonSF_Mu_Iso_Loose_VarRad_STAT_UP_AT";"weight_leptonSF_El_Iso_Loose_VarRad_TightLH_UP_AT"
#   WeightSufDown: "weight_leptonSF_Mu_Iso_Loose_VarRad_SYST_DOWN_AT";"weight_leptonSF_Mu_Iso_Loose_VarRad_STAT_DOWN_AT";"weight_leptonSF_El_Iso_Loose_VarRad_TightLH_DOWN_AT"
#   Exclude: *Fake*,*QmisID*
#   Regions: *TL*,*LT*,*LL*
#   Category: Instrumental
#   SubCategory: Isolation

##### LUMINOSITY ######

Systematic: "ATLAS_lumi"
  Title: "ATLAS_lumi"
  Type: OVERALL
  OverallUp: 0.0083
  OverallDown: -0.0083
  Category: Instrumental
  SubCategory: Luminosity
  Samples: "all"

########## PILE-UP #########

Systematic: "ATLAS_PRW_DATASF"
  Title: "ATLAS_PRW_DATASF"
  Type: HISTO
  WeightSufUp: "weight_pileup_UP/weight_pileup"
  WeightSufDown: "weight_pileup_DOWN/weight_pileup"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Pile-up

############ JVT ############

Systematic: "ATLAS_JVT"
  Title: "ATLAS_JVT"
  Type: HISTO
  WeightSufUp: weight_jvt__1up
  WeightSufDown: weight_jvt__1down
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: JVT

###########################
#### THEORETICAL       ####
###########################
#
### # Cross-section #####
#
# Exclude: SR - why?
#
# Systematic: "ttHXsec"
#   Title: "ttH x-section"
#   Type: OVERALL
#   OverallUp: 0.11
#   OverallDown: -0.11
#   Samples: ttH
#   Category: Theory
#   SubCategory: Cross-Section
#   Exclude: SR*

Systematic: "ttWXsec"
  Title: "ttW x-section"
  Type: OVERALL
  OverallUp: 0.13
  OverallDown: -0.13
  Samples: ttW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttWEWXsec"
  Title: "ttW EW x-section"
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: ttW_EW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttZHFXsec"
  Title: "ttZ+HF x-section"
  Type: OVERALL
  OverallUp: 0.12
  OverallDown: -0.12
  Samples: ttZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttbb_XS"
  Title: "ttbar + #geq 1b XS"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_TTBB_XS
  Symmetrisation: ONESIDED
  Samples: ttbar
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttcc_XS"
  Title: "ttbar + #geq 1c XS"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_TTCC_XS
  Symmetrisation: ONESIDED
  Samples: ttbar
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VVXsec"
  Title: "VV x-section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: VV
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VVVXsec"
  Title: "VVV x-section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: VVV
  Category: Theory
  SubCategory: Cross-Section

Systematic: "threeTopXsec"
  Title: "three top x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: threeTop
  Category: Theory
  SubCategory: Cross-Section

Systematic: "fourTopXsec"
  Title: "four top x-section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: fourTop
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttWWXsec"
  Title: "ttWW x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: WttW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "tZXsec"
  Title: "tZ x-section"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: tZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "WtZXsec"
  Title: "WtZ x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: WtZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VHXsec"
  Title: "VH x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: VH
  Category: Theory
  SubCategory: Cross-Section

##### Modelling #####

### ttH ###

Systematic: "ttH_varRF"
  Title: "ttH varRF"
  WeightSufUp: "weight_MUR_MUF__1up*totalEventsWeighted/totalEventsWeighted_weight_MUR_MUF__1up"
  WeightSufDown: "weight_MUR_MUF__1down*totalEventsWeighted/totalEventsWeighted_weight_MUR_MUF__1down"
  Symmetrisation: TWOSIDED
  Samples: ttH
  Category: Theory

### ttW ###

Systematic: "ttW_Generator"
  Title: "ttW generator"
  NuisanceParameter: "ttW_ME"
  Type: HISTO
  NtupleFilesUp: XXX_ttW_fxfx_samples
  Symmetrisation: ONESIDED
  WeightSufUp: (1.101011749*(XXX_TAU_PROMPT))
  Samples: ttW
  Category: Theory
  SubCategory: Generator

Systematic: "ttW_EW_Generator"
  Title: "ttW EW generator"
  NuisanceParameter: "ttW_EW_ME"
  Type: HISTO
  NtupleFilesUp: XXX_ttWEWalt_samples
  Symmetrisation: ONESIDED
  WeightSufUp: (0.8261600014*(XXX_TAU_PROMPT))
  Samples: ttW_EW
  Category: Theory
  SubCategory: Generator

Systematic: "ttW_PartonShower"
  Title: "ttW parton shower"
  NuisanceParameter: "ttW_PS"
  Type: HISTO
  NtupleFilesUp: XXX_ttWPSalt_PP8_QCD_samples
  WeightSufUp: (1.208230364*(XXX_TAU_PROMPT))
  ReferenceSample: "ttW_PS_PH7_ghost"
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: ttW
  Category: Theory
  SubCategory: Generator

Systematic: "ttW_EW_PartonShower"
  Title: "ttW EW parton shower"
  NuisanceParameter: "ttW_EW_PS"
  Type: HISTO
  NtupleFilesUp: XXX_ttWPSalt_PP8_EW_samples
  WeightSufUp: (0.9692167022*(XXX_TAU_PROMPT))
  ReferenceSample: "ttW_EW_PS_PH7_ghost"
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: ttW_EW
  Category: Theory
  SubCategory: Generator

Systematic: "ttW_EW_fraction"
  Title: "ttW EW-fraction"
  NuisanceParameter: "ttW_EW_fraction"
  Type: HISTO
  WeightSufUp: ( (mcChannelNumber==700168 ? 1.173573866/1.176009203 : 1.17636809/1.135714286) * (XXX_TAU_PROMPT) )
  Symmetrisation: ONESIDED
  Samples: ttW, ttW_EW
  Category: Theory
  SubCategory: Generator

Systematic: "ttW_PDFaS"
  Title: "ttW PDF #alpha_{s}"
  Type: HISTO
  Symmetrisation: TWOSIDED
  WeightSufUp: weight_PDF270000 * (XXX_TAU_PROMPT)
  WeightSufDown: weight_PDF269000 * (XXX_TAU_PROMPT)
  Samples: ttW, ttW_EW
  Category: Theory
  SubCategory: PDF

Systematic: "ttW_PDFalternate"
  Title: "ttW PDF Alternative"
  Type: HISTO
  Symmetrisation: TWOSIDED
  WeightSufUp: weight_PDF13000*(XXX_TAU_PROMPT)
  WeightSufDown: weight_PDF25300*(XXX_TAU_PROMPT)
  Samples: ttW, ttW_EW
  Category: Theory
  SubCategory: PDF

Systematic: "ttW_varRF"
  Title: "ttW varRF"
  WeightSufUp: weight_MUR_MUF__1up*(XXX_TAU_PROMPT)
  WeightSufDown: weight_MUR_MUF__1down*(XXX_TAU_PROMPT)
  Samples: ttW
  Category: Theory
  SubCategory: Scale

### ttZ ###

Systematic: "ttZ_varRF"
  Title: "ttZ varRF"
  CombineName: ttZ Var
  CombineType: ENVELOPE
  WeightSufUp: weight_MUR_MUF__1up*((1/(1-0.108))*(m_HF_Classification==0) + (1/(1-0.112))*(abs(m_HF_Classification)<100&&abs(m_HF_Classification)>0)+(1/(1-0.114))*(abs(m_HF_Classification)>=100))*(XXX_TAU_PROMPT)
  WeightSufDown: weight_MUR_MUF__1down*((1/(1+0.091))*(m_HF_Classification==0) + (1/(1+0.096))*(abs(m_HF_Classification)<100&&abs(m_HF_Classification)>0)+(1/(1+0.103))*(abs(m_HF_Classification)>=100))*(XXX_TAU_PROMPT)
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: ttZ
  Category: Theory

Systematic: "ttZ_Var3c"
  Title: "ttZ modeling (A14 variations)"
  Type: HISTO
  NtupleFilesUp: XXX_ttZVar3cUpNew_samples
  NtupleFilesDown: XXX_ttZVar3cDownNew_samples
  Smoothing: XXX_SMOOTHING_SHAPES
  WeightSufUp: ((1/(1+0.013))*(m_HF_Classification==0) + (1/(1+0.051))*(abs(m_HF_Classification)<100&&abs(m_HF_Classification)>0)+ (1/(1+0.060))*(abs(m_HF_Classification)>=100))*(XXX_TAU_PROMPT)
  WeightSufDown: ((1/(1+0.006))*(m_HF_Classification==0) + (1/(1-0.059))*(abs(m_HF_Classification)<100&&abs(m_HF_Classification)>0)+ (1/(1-0.049))*(abs(m_HF_Classification)>=100))*(XXX_TAU_PROMPT)
  Samples: ttZ
  Category: Theory

### ttbar ###

### others ###

Systematic: "VVnJets"
  Title: "VV nJets"
  NuisanceParameter: VV_nJets
  Type: HISTO
  WeightSufUp: (1/(1-0.028))*(XXX_VV_UP/XXX_VV_NJET)*(XXX_TAU_PROMPT&&XXX_LEP_PROMPT)
  WeightSufDown: (1/(1+0.030))*(XXX_VV_DOWN/XXX_VV_NJET)*(XXX_TAU_PROMPT&&XXX_LEP_PROMPT)
  Samples: VV,ggVV
  Category: Theory

Systematic: "VV_varRF"
  Title: "VV varRF"
  CombineName: VV Var
  CombineType: ENVELOPE
  WeightSufUp: weight_MUR_MUF__1up*((1/(1-0.165))*(flag_VV_HF==3 || flag_VV_HF==0)+(1/(1-0.181))*(flag_VV_HF==2)+(1/(1-0.18))*(flag_VV_HF==1))*(XXX_TAU_PROMPT&&XXX_LEP_PROMPT)
  WeightSufDown: weight_MUR_MUF__1down*((1/(1+0.234))*(flag_VV_HF==3 || flag_VV_HF==0)+(1/(1+0.261))*(flag_VV_HF==2)+(1/(1+0.256))*(flag_VV_HF==1))*(XXX_TAU_PROMPT&&XXX_LEP_PROMPT)
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: VV,ggVV
  Category: Theory

## Fakes modelling ##

Systematic: "ttW_Generator_Fakes"
  Title: "ttW generator (fakes)"
  NuisanceParameter: "ttW_ME_Fakes"
  Type: HISTO
  NtupleFilesUp: XXX_ttW_fxfx_samples
  Symmetrisation: ONESIDED
  WeightSufUp: (1.101011749*(!XXX_TAU_PROMPT))
  DropNorm: all
  Samples: TauFakes_ttW
  Category: Fakes
  SubCategory: Modelling

Systematic: "ttW_PartonShower_Fakes"
  Title: "ttW parton shower (fakes)"
  NuisanceParameter: "ttW_PS_Fakes"
  Type: HISTO
  NtupleFilesUp: XXX_ttWPSalt_PP8_QCD_samples
  WeightSufUp: (1.208230364*(!XXX_TAU_PROMPT))
  ReferenceSample: "ttW_PS_PH7_ghost"
  Symmetrisation: ONESIDED
  Smoothing: XXX_SMOOTHING_SHAPES
  DropNorm: all
  Samples: TauFakes_ttW
  Category: Fakes
  SubCategory: Modelling

### ttZ ###

### ttbar ###
