########### MUONS ###########

Systematic: "ATLAS_MU_ID_STAT"
  Title: "ATLAS_MU_ID_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_SYST"
  Title: "ATLAS_MU_ID_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_STAT_LOWPT"
  Title: "ATLAS_MU_ID_STAT_LOWPT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_STAT_LOWPT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_STAT_LOWPT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID_SYST_LOWPT"
  Title: "ATLAS_MU_ID_SYST_LOWPT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_ID_Medium_SYST_LOWPT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_ID_Medium_SYST_LOWPT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_Isol_STAT"
  Title: "ATLAS_MU_Isol_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_Iso_FCLoose_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_Iso_FCLoose_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_Isol_SYST"
  Title: "ATLAS_MU_Isol_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_Iso_FCLoose_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_Iso_FCLoose_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_TTVA_STAT"
  Title: "ATLAS_MU_TTVA_STAT"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_TTVA_STAT_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_TTVA_STAT_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_TTVA_SYST"
  Title: "ATLAS_MU_TTVA_SYST"
  Type: HISTO
  WeightSufUp: "weight_leptonSF_Mu_TTVA_SYST_UP_AT"
  WeightSufDown: "weight_leptonSF_Mu_TTVA_SYST_DOWN_AT"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_ID"
  Title: "ATLAS_MU_ID"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_ID__1up"
  NtupleNameDown: "MUON_ID__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_SCALE"
  Title: "ATLAS_MU_SCALE"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SCALE__1up"
  NtupleNameDown: "MUON_SCALE__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_RESBIAS"
  Title: "ATLAS_MU_RESBIAS"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SAGITTA_RESBIAS__1up"
  NtupleNameDown: "MUON_SAGITTA_RESBIAS__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon

Systematic: "ATLAS_MU_RHO"
  Title: "ATLAS_MU_RHO"
  Type: HISTO
  NtuplePathsUp: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsUp: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtuplePathsDown: XXX_SYS_NtuplePaths/XXX_EGMETMU
  FriendPathsDown: XXX_SYS_FriendPaths/XXX_EGMETMU
  NtupleNameUp: "MUON_SAGITTA_RHO__1up"
  NtupleNameDown: "MUON_SAGITTA_RHO__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Symmetrisation: TWOSIDED
  Exclude: *Fake*,*QmisID*
  Category: Instrumental
  SubCategory: Muon