###########################
#### THEORETICAL       ####
###########################

### Cross-section #####

Systematic: "ttHXsec"
  Title: "ttH x-section"
  Type: OVERALL
  OverallUp: 0.11
  OverallDown: -0.11
  Samples: ttH
  Category: Theory
  SubCategory: Cross-Section
  Exclude: SR*

Systematic: "ttWXsec"
  Title: "ttW x-section"
  Type: OVERALL
  OverallUp: 0.13
  OverallDown: -0.13
  Samples: ttW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttWEWXsec"
  Title: "ttW EW x-section"
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: ttW_EW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttZHFXsec"
  Title: "ttZ+HF x-section"
  Type: OVERALL
  OverallUp: 0.12
  OverallDown: -0.12
  Samples: ttZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttbb_XS"
  Title: "ttbar + #geq 1b XS"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_TTBB_XS
  Symmetrisation: ONESIDED
  Samples: ttbar
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttcc_XS"
  Title: "ttbar + #geq 1c XS"
  Type: HISTO
  WeightSufUp: XXX_WEIGHT_TTCC_XS
  Symmetrisation: ONESIDED
  Samples: ttbar
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VVXsec"
  Title: "VV x-section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: VV
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VVVXsec"
  Title: "VVV x-section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: VVV
  Category: Theory
  SubCategory: Cross-Section

Systematic: "threeTopXsec"
  Title: "three top x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: threeTop
  Category: Theory
  SubCategory: Cross-Section

Systematic: "fourTopXsec"
  Title: "four top x-section"
  Type: OVERALL
  OverallUp: 0.30
  OverallDown: -0.30
  Samples: fourTop
  Category: Theory
  SubCategory: Cross-Section

Systematic: "ttWWXsec"
  Title: "ttWW x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: WttW
  Category: Theory
  SubCategory: Cross-Section

Systematic: "tZXsec"
  Title: "tZ x-section"
  Type: OVERALL
  OverallUp: 0.05
  OverallDown: -0.05
  Samples: tZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "WtZXsec"
  Title: "WtZ x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: WtZ
  Category: Theory
  SubCategory: Cross-Section

Systematic: "VHXsec"
  Title: "VH x-section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: VH
  Category: Theory
  SubCategory: Cross-Section