# #### TRIGGER #####

Systematic: "ATLAS_TRIG_EL"
  Title: "ATLAS_TRIG_EL"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_EL_EFF_Trigger_TOTAL_1NPCOR_PLUS_UNCOR__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

Systematic: "ATLAS_TRIG_MU_STAT"
  Title: "ATLAS_TRIG_MU_STAT"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_MUON_EFF_TrigStatUncertainty__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_MUON_EFF_TrigStatUncertainty__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

Systematic: "ATLAS_TRIG_MU_SYST"
  Title: "ATLAS_TRIG_MU_SYST"
  Type: HISTO
  WeightSufUp: "weight_globalLeptonTriggerSF_MUON_EFF_TrigSystUncertainty__1up"
  WeightSufDown: "weight_globalLeptonTriggerSF_MUON_EFF_TrigSystUncertainty__1down"
  Smoothing: XXX_SMOOTHING_SHAPES
  Samples: "all"
  Exclude: *Fake*,*QmisID*
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: Trigger

######## PLIV ############

# NOTE: tHjb sample is excluded from these syst since the mc16e sample has not these variations...
# Removed the tHjb from the fakes (for the moment...)
Systematic: "PLIV_El_Stat_Tight"
  Title: "PLIV Electron Statistical [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Stat"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_JetModeling_Tight"
  Title: "PLIV Electron Jet Modeling [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_JetModeling"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_TemplateCut_Tight"
  Title: "PLIV Electron Template Cut [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_TemplateCut"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_MllWindow_Tight"
  Title: "PLIV Electron M_{ll} Window [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_MllWindow"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_ID_Tight"
  Title: "PLIV Electron ID [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_ID"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_Iso_Tight"
  Title: "PLIV Electron Isolation [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Iso"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb

Systematic: "PLIV_El_Pileup_Tight"
  Title: "PLIV Electron Pileup [T]"
  Type: HISTO
  Symmetrisation: ONESIDED
  WeightSufUp: "XXX_PLIV_SYS_El_Tight_Pileup"
  Category: Instrumental
  SubCategory: PLIV
  Exclude: tHjb