// Variables
$primary-color: #007bff;
$font-family: Arial, sans-serif;
$border-radius: 5px;

// Styles
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: $primary-color;
    color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.cluster-title {
    position: relative;
    padding: 10px 20px;
    text-transform: uppercase;
    margin: 0
}

.cluster-header {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px, solid, #ccc;
    border-radius: $border-radius;
}

#clusters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.cluster {
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}

.job {
    position: relative;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px 0 rgba(143, 143, 143, 0.35);

    transition: all 0.2s ease-in-out;

    &.running {
        border-color: #ffc107;
    }

    &:hover {
        box-shadow: 0 0 10px 0 rgba(67, 67, 67, 0.5);
        transform: scale(1.02);
    }
}

.job-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.job-title {
    text-transform: capitalize;
}

.job-info {
    margin-right: 30px;
}

button {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: $border-radius;
    padding: 5px 10px;
    cursor: pointer;
    margin: 2px;

    &:not(:disabled):hover {
        filter: brightness(1.2);
        cursor: pointer;
    }
}

:disabled,.disabled {
    filter: brightness(1.2) saturate(0.5) grayscale(0.4);
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
        cursor: not-allowed;
    }
}

.alpha {
    &-10 {
        opacity: 0.1;
    }
    &-20 {
        opacity: 0.2;
    }
    &-30 {
        opacity: 0.3;
    }
    &-40 {
        opacity: 0.4;
    }
    &-50 {
        opacity: 0.5;
    }
    &-60 {
        opacity: 0.6;
    }
    &-70 {
        opacity: 0.7;
    }
    &-80 {
        opacity: 0.8;
    }
    &-90 {
        opacity: 0.9;
    }
}

.button {
    cursor: pointer;

    &:not(:disabled):hover {
        filter: brightness(1.2);
        cursor: pointer;
    }

    &:hover {
        font-weight: bold;
    }
}

.artifact {
    text-align: left;
    margin-top: 10px;
    width: 100%;
    align-items: baseline;
    transition: all 0.2s ease-in-out;

    &:hover {
        width: fit-content;
        background-color: #e7e7e7;
        border-radius: 5px;
        padding: 5px;
    }
}

.artifact-name {
    border-radius: $border-radius;
    font-family: JetBrains Mono, monospace;
    font-weight: 800;
    padding: 5px;
    margin: 5px;

    &:hover {
        overflow: unset;
        white-space: unset;
        text-overflow: unset;
    }
}

.job-refresh {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -15px;
    top: -15px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(213, 213, 213);
    border: 2px solid #ccc;
    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: 0 0 10px 0 rgb(22, 44, 183);

        &:not(:disabled):not(.disabled) {

            animation: rotate 10s infinite linear;

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(-360deg);
                }
            }
        }
    }

    &:disabled,&.disabled {
        cursor: not-allowed;
        filter: grayscale(1);
        box-shadow: 0 0 10px 0 rgba(179, 179, 179, 0.61);

        &:hover {
            cursor: not-allowed;
        }
    }
}

.artifact-exists {
    color: #fff;
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    border-radius: $border-radius;
}

.bad {
    background-color: #dc2647;
}

.good {
    background-color: #28a745;
}

.status-icon {
    width: 40px;
    height: 40px;

    &.running, &.retrieving {
        animation: rotate 10s infinite linear;

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(-360deg);
            }
        }
    }

}

.status-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .status-text {
        text-transform: capitalize;
        text-align: center;

        &.not_started {
            color: #6c757d;
        }

        &.running {
            color: #ffc107;
            font-style: italic;
        }

        &.retrieving {
            color: #d8b13c;
            font-style: italic;
        }

        &.done {
            color: #28a745;
        }

        &.interrupted {
            color: #ff8000;
        }

        &.error {
            color: #dc3545;
        }
    }
}

.flex {
    display: flex;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text {
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
}