# All samples

# Ghost samples (need to be defined first)
INCLUDE: ../samples-friend/ghost.config

# Data samples
INCLUDE: ../samples-friend/data.config

# Signal samples
INCLUDE: ../samples-friend/signal.config

# Background samples
INCLUDE: ../samples-friend/background.config


# Fakes samples
INCLUDE: ../samples-friend/fakes.config