# All samples

# Data samples
INCLUDE: ../samples-friend/data.config

# Signal samples
INCLUDE: ../samples-friend/signal.config

# Background samples
INCLUDE: ../samples-friend/background.config

# Ghost samples
INCLUDE: ../samples-friend/ghost.config

# Fakes samples
INCLUDE: ../samples-friend/fakes.config