###########################
####   Ghost samples   ####
###########################

#   GHOST samples are needed for the systematics

Sample: "ttW_PS_PH7_ghost"
  Type: GHOST
  Title: "ttW_PS_PH7_ghost"
  NtupleFiles: XXX_ttWPSalt_PH7_samples
  UseFriend: TRUE


Sample: "ttW_EW_PS_PH7_ghost"
  Type: GHOST
  Title: "ttW_EW_PS_PH7_ghost"
  NtupleFiles: XXX_ttWPSalt_PH7_EW_samples
  UseFriend: TRUE

Sample: "ttZ_ghost"
  Type: GHOST
  Title: "ttZ_ghost"
  NtupleFiles: XXX_ttZ_AF2MadNew_samples
  UseFriend: TRUE