###########################
####  Signal process   ####
###########################

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  TexTitle: $t\bar{t}H$
  Group: "t#bar{t}H"
  FillColor: 2
  LineColor: 1
  NtupleFiles: XXX_ttH_samples
  Selection: XXX_TAU_PROMPT && XXX_LEP_PROMPT
  UseFriend: TRUE