# N_jets
Region: "n-jets"
  Type: VALIDATION
  Variable: "nJets_OR",6,4,10
  VariableTitle: N_{jets}
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA