Region: "probs-ttH"
  Type: SIGNAL
  Variable: probs_ttH,5,0,1
  VariableTitle: "Assigned probability of event being ttH"
  Label: "p(y = t\bar{t}H | x)"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"

