# lep_Pt_0
Region: "SR_2lSS1Tau_lep0_pT_4jincl_1b"
  Type: SIGNAL
  Variable: lep_Pt_0/1e3,10,0,200
  VariableTitle: "Leading lepton p_{T} [GeV]"
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA

# lep_Pt_1
Region: "SR_2lSS1Tau_lep1_pT_4jincl_1b"
  Type: VALIDATION
  Variable: lep_Pt_1/1e3,10,0,200
  VariableTitle: "Sub-leading lepton p_{T} [GeV]"
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA

# N_jets
Region: "SR_2lSS1Tau_Njets_4jincl_1b"
  Type: VALIDATION
  Variable: "nJets_OR",6,4,10
  VariableTitle: N_{jets}
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA

# N_bjets
Region: "SR_2lSS1Tau_NBjets_4jincl_1b"
  Type: VALIDATION
  Variable: "nJets_OR_DL1r_85",3,1,4
  VariableTitle: N_{b-jets}
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA

# tau width
Region: "SR_2lSS1Tau_tau_width_4jincl_1b"
  Type: VALIDATION
  Variable: taus_width_0,15,0,0.15
  VariableTitle: "tau width"
  Label: "2lSS 1#tau 4j 1b"
  ShortLabel: "SR - 2lSS 1#tau"
  TexLabel: "\mathbf{2lSS 1\tau 4j 1b}"
  Selection: "XXX_TRIGGER_SELECTION && XXX_2LEPTON_SS_SELECTION && XXX_LEPTON_PROMPT_SELECTION && nTaus_OR==1 && nJets_OR_DL1r_85>=1 && nJets_OR>=4 && XXX_EXCLUSION_Z_PEAK"
  LogScale: FALSE
  Ymin: 0.01
  DataType: DATA